# ~/.vim/UltiSnips/c++.snippets

snippets head "GOSCPS LICENSE" b
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * THIS FILE IS FROM GOSCPS(https://github.com/GOSCPS)
 * IS LICENSED UNDER GOSCPS
 * File:    ${1:File Name}
 * Content: ${2:File Content}
 * Copyright (c) 2020 GOSCPS All rights reserved. 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
${0}
endsnippets
